*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(30, 38%, 92%);
}

.outer-div{
    display: flex;
    margin: auto;
    width: 500px;
    margin-top: 60px;
}

.img-div{
    height: 460px;
    width: 250px;
    background-color: aquamarine;
    background-image: url(./images/image-product-desktop.jpg);
    background-repeat: no-repeat;
    background-position-x: -30px;
    background-size: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; 
}

.card-div{
    width: 250px;
    height: 460px;
    background-color: hsl(0, 0%, 100%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

span{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 600;
    color: hsl(228, 12%, 48%);
    letter-spacing: 4px;
    text-align: center;
    padding-left: 25px;
}